html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
    outline: 0;
}
body {
    line-height: 1;
    color: #464646;
    background: white;
    font-family: sans-serif, Arial, Helvetica;
}
ol, ul {
    list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}

.content{
    width: 80%;
    margin: auto;
    padding-top: 4rem;
    padding-bottom: 3rem;
}
.cards, .card{
    display: flex;
    flex-wrap: wrap;
    /*height: 300px;*/
    justify-content: space-between;
}
.card {
    width: 350px;
    padding: 1rem 0.8rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 2rem;
    cursor: pointer;
    transition-duration: 0.3s;
}
.card:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}
.person-img {
    width: 40%;
}
.person-info {
    width: 60%;
    padding: 1rem 0;
}
.person-img img {
    max-width: 80%;
    height: auto;
    border-radius: 50%;
    padding: 0.5rem;
}
.popup-window .person-img img{
    max-width: 100%;
    margin: auto;
}
.popup-window .person-img{
    margin: auto;
    width: 100%;
}
.card .person-info p{
    padding-bottom: 0.3rem;
    color: #a0a0a0;
}
button.close {
    position: absolute;
    top: 1vw;
    right: 1vw;
    font-size: 1.2em;
    cursor: pointer;
    border: 1px solid #c5c5c5;
    border-radius: 3px;
    background: rgba(0,0,0, 0.1);
}
.popup-window p{
    padding-bottom: 0.8rem;
    color: #c5c5c5;
}
.more p{
    padding-bottom: 1.2rem;
}
.card .person-info h2, .popup-window h2{
    padding: 0.7rem 0;
    font-weight: 600;
    font-size: 1.2rem;
}
h1 {
    font-family: 'Roboto', sans-serif, Arial, Helvetica;
    font-size: 1.7rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
    font-weight: 700;
}
p{
    font-size: 1rem;
}
.hidden{
    display: none;
}
.popup-window{
    position: fixed;
    left: 0; 
    right: 0; 
    top: 0;
    bottom: 0;
    margin-left: auto; 
    margin-right: auto; 
    background: rgba(0, 0, 0, 0.46);
    /* overflow: hidden; */
    width: 100%;
    height: 100%;
    /* display: none; */
    z-index: 2;
}
.modal {
    width: 320px;
    background: white;
    margin: 15% auto auto;
    position: relative;
    text-align: center;
    border: 1px solid #778;
    border-radius: 5px;
    padding: 30px 20px;
}
.line{
    color: #c5c5c5;
    opacity: 0.5;
}
.none{
    display: none;
}
.popup-window .person-info{
    padding-bottom: 0.8rem;
    margin: auto;
}
.popup-window .more{
    padding-top: 1.6rem;
}
/* exceed expectations */
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}
.header h1 {
     margin-right: 2em;
}
input#search {
    /* padding: 5px 17px; */
    padding: 10px 26px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 3em;
   
}
.prev, .next {
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    user-select: none;
    top: 50%;
    padding: 13px;
    position: absolute;
}
.prev {
    left: 0;  
}
.next{
    right: 0;
}
@media all and (max-width: 420px) and (min-width:320px){
    .person-img {
        width: 100%;
        text-align: center;
    }
    
}
@media screen and (max-width: 420px){
    .modal {
        width: 270px;
    }
}
@media screen and (min-width: 806px){
    input#search {
        margin-bottom: 0;
    }
    .header h1 {
        margin-right: 0;
   }
}

@media screen and (min-width: 1300px) {
   .content{
       width: 1300px;
       margin: auto;
   }
    .card {
        width: 370px;}
  }